@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 0px; padding: 0px; box-sizing: border-box; background-color: black; color: #54535B;
    font-family: "JetBrains Mono", monospace;
}

.mainApp {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 20rem;
    padding: 10px;
}

.bodyApp {
    background-color: #54535B;
    color: #E6E5EA;
    padding: 20px;
    box-sizing: border-box;
}
.passwordGen {
    width: 100%;
}

.bodyApp {
    width: 100%;
}

.rangeIndex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.subIndex {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

label {
    font-size: 12px;
    color: #E6E5EA;
}

input[type="checkbox"] {
    accent-color: #A4FFAF;
}

.strengthState {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.passGen {
    position: relative;
    margin-bottom: 2rem;
}

output {
    color:#A4FFAF;
}

.generateButton {
    width: 100%;
    padding: 10px;
    background-color: #A4FFAF;
    color: black;
    /* border-color:#A4FFAF; */
    border: none;
}

.generateButton:hover {
    background-color: black;
    color: #A4FFAF;
    border: 1px solid #A4FFAF;
}

.passGen input[type=text] {
    width: 100%;
    box-sizing: border-box;
    background-color: #54535B;
    color: #E6E5EA;
    background-repeat: no-repeat;
    background-position: 10px 100px;
    padding: 10px;
    border:none;
}


.checkBoxes{
    background-color: #54535B;
    color: black;
}
.passGen .copyIcon {
    position: absolute;
    right: 5px;
    top: 25%;
    width: 20px;
    height: 20px;
}
